/**margin과 padding을 0으로 두는 기본 설정**/
html, body {
    margin :0;
    padding : 0;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin : 0;
    padding : 0;
}

button {
    border : none;
    background-color: transparent;
}

/**메뉴 관련 설정**/
.menu {
    position: relative;
    height: 150px;
    /**중앙정렬**/
    margin: auto;
    width: 50%;

}
/**로고 삽입**/
.menu img {
    padding: 30px;
    width: 100px;
    height: 100px;
}
/**검색**/
.menu input{
    position: absolute;
    height: 40px;
    width: 300px;
    margin: 55px 0 55px 0;

}
/**키워드, 로그인, 회원가입 메뉴**/
.menu #keyword{
    position: absolute;
    margin: 64px 0 65px 350px;
    white-space: nowrap;
}

.menu #login {
    position: absolute;
    margin: 64px 0 65px 450px;
    white-space:nowrap;
}

.menu #signup {
    position: absolute;
    margin: 64px 0 65px 550px;
    white-space: nowrap;
}


body h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
}


.products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
}

.products img {
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.products a {
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}

.price {
    margin-top: 4px;
    margin-bottom: 80px;
}

.clearfix {
    clear: both;
}

.login-form {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;

}

.id-field {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 30px 30px;
    box-sizing: border-box;
}

.pw-field {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0 50px 13px;
    box-sizing: border-box;
}
.submit-btn {
    font-size: 14px;
    border: none;
    padding: 15px;
    width: 400px;
    background-color: #2594dd;
    margin-bottom: 30px;
    color: white;
}

.links {
    text-align: center;
}

.links a {
    font-size: 12px;
    color: #2655bbb6;
}

.btn .user {
    width:32px;
    height:32px;
}

li.sell-text {
    background-color: rgba(0, 225, 255, 0.178);
    width:800px;
    height: 30px;
    list-style:none;
    margin:0 auto;    
}

li.sell-text-short {
    background-color: rgba(0, 225, 255, 0.178);
    width: 150px;
    height: 30px;
    list-style: none;
    margin: 0 auto;
}